{{#partial "content"}}
    <div id="hero" class="card">
        <img src="/images/lions2.jpg" class="img-fluid ">
        <div class="card-img-overlay   d-flex flex-column align-items-center justify-content-center">

            <div class="hero-text text-center">
                <form action="/animal/new" method="post">
                    <input type="text" id="name" name="name" class="form-control mb-4" placeholder="Animal Name" >
                    <input list="status-list" type="text" id="status" name="status" class="form-control mb-4" placeholder="Animal Type">
                    <datalist id="status-list">
                        <option>Endangered</option>
                        <option>Normal</option>
                    </datalist>
                    <input list="health-list" type="text"  id="health" name="health" class="form-control mb-4" placeholder="Health">
                    <datalist id="health-list">
                        <option>Healthy</option>
                        <option>Okay</option>
                        <option>Ill</option>
                    </datalist>
                    <input list="age-list" type="text" id="age" name="age" class="form-control mb-4" placeholder="Age">
                    <datalist id="age-list">
                        <option>NewBorn</option>
                        <option>Young</option>
                        <option>Adult</option>
                    </datalist>
                    <input type="text" id="sighting" name="sighting" class="form-control mb-4" placeholder="Date sighted e.g 2022-04-26" >

                    <button class="btn btn-info " type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}