{{#partial "content"}}

    <div id="hero" class="card">
        <img src="/images/green.jpeg" class="img-fluid ">
        <div class="card-img-overlay   d-flex flex-column align-items-center justify-content-center">

            <div class="hero-text text-center">
                <h1>WILDLIFE TRACKER <br> </h1>
                <h3>The Forest Service is considering a proposal from a timber company <br>to clearcut a nearby forest of Douglas Fir. </h3>
                <h3>An environmental impact study is to be done therefore</h3>
                <h3>rangers must track wildlife sightings in the area.</h3>
                    <!--card with image-->
                <div class="card" style="width: 18rem;">
                    <img src="/images/brownbear.jpg" class="card-img-top" alt="brown bear">
                    <div class="card-body bear">
                        <h5 class="card-title">Want to track?</h5>
                        <a href="/sighting" class="btn btn-primary">Add Sighting</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}