{{#partial "content"}}

    <div id="hero" class="card">
        <img src="/images/green.jpeg" class="img-fluid ">
        <div class="card-img-overlay   d-flex flex-column align-items-center justify-content-center">

            <div class="success">

                <h3>Success! <br>
                 You have recorded a sighting!
                </h3>
            </div>
            <a href="/sighting"><button class="listbtn btn-primary">Sightings List</button></a>


        </div>
    </div>
    </div>
{{/partial}}

{{> layout.hbs}}